# Ignore environment files
.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# Ignore built files
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml
