/* navbar.css */

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}

.navbar-name {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Responsive Design for Navbar */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}
